.data_table_container
    > .dt-container
    > .dt-layout-row
    > .dt-layout-cell
    > .dt-length
    select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: max-content;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 2rem;
    background-size: 1.25rem;

    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-Grey);
    /* Small Shadow */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.data_table_container
    > .dt-container
    > .dt-layout-row
    > .dt-layout-cell
    > .dt-length {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.625rem;
}

.data_table_container
    > .dt-container
    > .dt-layout-row
    > .dt-layout-cell
    > .dt-length
    > label {
    color: var(--Neutral-Black);

    /* Subtitle / Regular */
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; /* 150% */
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(1)
    > div.dt-layout-cell.dt-end {
    display: flex;
    justify-content: end;
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(1)
    > div.dt-layout-cell.dt-end
    > div.dt-search::before {
    content: "Search: ";
    color: var(--Neutral-Black);
    /* Subtitle / Regular */
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; /* 150% */
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(1)
    > div.dt-layout-cell.dt-end
    > div.dt-search
    > input {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;

    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-Grey);
    background: var(--Neutral-White);

    /* Small Shadow */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 0.5rem;
}

.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-start
    > div.dt-info {
    color: var(--Neutral-Black);

    /* Subtitle / Regular */
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; /* 150% */
}

.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-end {
    display: flex;
    justify-content: end;
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-end
    > div {
    border-radius: 0.375rem;
    border: 1px solid var(--Neutral-Grey);
    background: var(--Neutral-White);

    /* Small Shadow */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-end
    > div
    > button {
    color: var(--Primary-Primary) !important;
    text-align: center;
    /* Body / Regular */
    font-family: Inter;
    font-size: 1rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    border-right: 1px solid var(--Neutral-Grey);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-end
    > div
    > .current {
    background: var(--Neutral-Purple) !important;
    border: none;
    color: var(--Neutral-White) !important;
}
.data_table_container
    > #serverSide_wrapper
    > div:nth-child(3)
    > div.dt-layout-cell.dt-end
    > div
    > .previous {
    background-color: var(--Neutral-White) !important;
    cursor: default;
}

.btn_action_dt {
    font-size: 1rem;
    border: none;
}
.icon_edit {
    color: var(--Semantic-Warning) !important;
}
.icon_delete {
    color: var(--Semantic-Error);
}
.icon_search {
    color: var(--Semantic-Information);
}
.data_table_container #serverSide > tbody > tr > td:nth-child(1) {
    text-align: center !important;
}
.data_table_container #serverSide > tbody > tr > td {
    text-align: center;
}
.data_table_container #serverSide > tbody > tr > td:last-child {
    display: block;
    justify-content: center;
}
.wrapperFormFilter {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}
.wrapperFormFilter label {
    color: var(--Neutral-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.wrapperFormFilter select {
    color: var(--Neutral-Dark-Grey);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.wrapper_progress_card {
    display: flex;
    column-gap: 1em;
    padding: 6px;
    color: #252b36ae;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 24px;
}
.wrapper_progress {
    display: flex;
    column-gap: 1.4em;
    position: relative;
}
.wrapper_progress_card-active {
    color: #5856d6;
    font-weight: 600;
    z-index: 100;
    border-bottom: 2px solid #5856d6;
}
.hr_datatable {
    height: 2px;
    background-color: #dbdfe6;
    position: absolute;
    width: 100%;
    bottom: 0;
}
