:root {
    --Primary-10: #acaeb3;
    --Primary-25: #3a9584;
    --Primary-Primary: #2d8575;
    --Primary-Primary-Hover: #138671;
    --Primary-75: #0e6656;
    --Primary-100: #02382e;

    --Accent-Accent-1: #ffd681;
    --Accent-Accent-2: #faf7ea;

    --Neutral-White: #fff;
    --Neutral-Light-Grey: #f8f8f9;
    --Neutral-Grey: #f0f3f4;
    --Neutral-Dark-Grey: #5c5e62;
    --Neutral-Black: #081225;

    --Semantic-Success-10: #a3cfbb;
    --Semantic-Success: #28a745;
    --Semantic-Success-100: #0f5132;

    --Semantic-Error-10: #f8d7da;
    --Semantic-Error: #dc3545;
    --Semantic-Error-100: #58151c;

    --Semantic-Information-10: #cff4fc;
    --Semantic-Information: #17a2b8;
    --Semantic-Information-100: #055160;

    --Semantic-Warning-10: #fef1c5;
    --Semantic-Warning: #fccd45;
    --Semantic-Warning-100: #e49203;

    /* Current */
    --Neutral-Purple: #5856d6;
    --Border: #dbdfe6;
}
html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--Neutral-Light-Grey);
    display: flex;
}

/* -------------------------------------------------------------------------- */
/*                                Sidebar style                               */
/* -------------------------------------------------------------------------- */

.small-shadow {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.regular-shadow {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
}
.large-shadow {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}
.navbarx {
    width: 25%;
    background-color: var(--Neutral-White);
    padding: 1rem;
    flex-direction: column;
    row-gap: 0.6875rem;
    position: relative;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    align-items: center;
    height: 100vh;
    border-right: 2px solid var(--Border);
}
.top_navbar,
.bottom_navbar {
    padding: 1.35rem 1rem;
    gap: 1rem;
    display: flex;
    width: 100%;
    flex-grow: auto;
}
.top_navbar {
    border-bottom: 2px solid var(--Border);
    top: 0;
}
.bottom_navbar {
    border-top: 1px solid var(--Border);
    justify-content: end;
}
.wrapper_logo {
    background-color: var(--Neutral-White);
    border-radius: 50%;
    gap: 0.625rem;
    display: flex;
    padding: 0.5rem;
    align-items: flex-start;
}
.text_logo {
    color: var(--Neutral-Purple);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.21875rem; /* 150% */
}
.mid_navbar {
    width: 100%;
    padding: 0;
    flex-grow: 1;
}
.header {
    background-color: var(--Neutral-White);
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--Border) !important;
}
.top_header {
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--Border);
}
.bottom_header {
    justify-content: start !important;
    column-gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 1.7rem;
    display: flex;
}
.path_header {
    color: var(--Neutral-Dark-Grey);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    word-spacing: 0.5rem;
    text-transform: capitalize;
}
.btn_logout {
    font-size: 1.5rem;
    border: none;

    color: var(--Neutral-Black);

    /* Body / Regular */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.btn_logout:hover {
    border: none;
}
.btn-header:hover .btn-collapse-sidebar {
    color: var(--Neutral-Dark-Grey) !important;
}
.list_nav {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    padding: 0.75rem 1rem;
    align-items: center;
    transition: 0.5s;
}
.nav-link-custom:hover,
.active-nav-link {
    background-color: #f3f4f7 !important;
    border-radius: 0.375rem !important;
}
.sidebar-nav {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}
.nav-link-custom {
    padding: 0 !important;
}
.iconSidebarList {
    font-size: 1.5rem;
    color: var(--Primary-10);
}
.list_nav div {
    color: var(--Neutral-Black);

    /* Body / Regular */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.active-nav-link-text {
    color: var(--Neutral-Purple) !important;
}
.nav-title-custom {
    color: #252b3661;

    /* Body / Bold */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    padding: 0.5rem 1rem;
}
.wrapper_icon_collapse {
    padding-right: 1rem;
}
.iconCollapse {
    font-size: 0.5rem;
    color: var(--Primary-10);
    width: 1.5rem;
    display: flex;
    justify-content: center;
}
.btn-collapse-sidebar {
    font-size: 1.5rem;
    color: var(--Neutral-Dark-Grey);
}
.wrapper_user_data {
    width: max-content;
    font-size: 1rem;
    color: rgb(55, 55, 55);
    font-weight: 600;
    padding-right: 1.5rem;
}
.wrapper_user_data .role {
    font-size: small;
    text-align: center;
    color: rgba(55, 55, 55, 0.669);
}
.wrapper_main_content {
    padding: 0rem 1.7rem;
}
.text_footer {
    color: var(--Neutral-Black);
    /* Body / Regular */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.text_footer span {
    color: var(--Primary-Primary, #2d8575);
}
.text_footer {
    padding: 2rem 1.5rem;
}
.wrapperDataTableBackOffice,
.cardBackoffice {
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;

    border-radius: 1rem;
    border: 1px solid var(--Neutral-White);
    background: var(--Neutral-White);
}
.wrapperDataTableBackOffice #serverSide_wrapper {
    width: 100%;
}
.title_table {
    color: #000000;
    font-family: Inter;
    font-size: 2.4375rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.925rem; /* 120% */
}
.wrapper_top_section_data_table {
    justify-content: space-between;
}
.wrapper_top_section_data_table button,
.wrapper_top_section_data_table a {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background: #5856d6;
    color: var(--Neutral-White);
    height: max-content;
}
button {
    border: none;
    background-color: transparent;
}
.wrapper_top_section_data_table a:hover {
    background-color: #027764 !important ;
    border: none;
    color: var(--Neutral-White) !important;
}
.data_table_container,
.sub_card_content {
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid var(--Neutral-Light-Grey);
    background: var(--Neutral-White);
}
.wrapper_top_section_data_table button:disabled {
    background: var(--Semantic-Success-10) !important;
    color: var(--Neutral-White);
    border: none;
}
